.credits {
	padding: 10px;
	background-color: #b3b3b3;
	border-radius: 30px;
	text-align: center;
	line-height: 1.0;
	font-size: 25px;
	cursor: pointer;
}

.credits:hover {
	background-color: #a1a1a1d2;
}
