.player {
	position: absolute;
	width: 50%;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	bottom: 25px;
	transition: opacity 1s ease 0s; 
	opacity: 0.5;
	z-index: 1000;
}

@media only screen and (max-width: 1000px) {
	.player {
		width: 80%;
	}
}